:root {
  font-family: 'Inter', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h2, .question {
  font-family: 'Karla';
  font-weight: 700;
}

.answer {
  font-family: 'Inter';
  font-weight: 500;

}

